body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-family: 'Cherry Bomb', cursive;
  }

  h1 {
    
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 75%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    width: 15%;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-image: linear-gradient(to right, rgb(212, 100, 212), rgb(221, 221, 118));
    color: black;
  }
  
  .present {
    background-image: linear-gradient(to right,grey, rgb(132, 236, 132));
    color: black;
  }
  
  .future {
    background-image: linear-gradient(to right,salmon,rgba(82, 82, 230, 0.705));
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .container {
    margin-bottom: 20%;
  }

  @media only screen and (max-width: 1200px) {
    textarea{
      width: 74%;
    }
  }

  @media only screen and (max-width: 1005px) {
    textarea{
      width: 70%;
    }
  }

  @media only screen and (max-width: 780px) {
    textarea{
      width: 60%;
    }

    .saveBtn{
      width: 20%;
    }

    .time-block{
      margin-left: 10px;
    }
  }
